h1 {
  text-shadow: bold;
  text-align: center;
  text-decoration: underline;
  font-size: 60pt;
  background-color: cyan;

}

p {
  text-align: center;
}

body {
  background-color: #FF9900;
}

h3 {
  text-align: center;
}

h2 {
  font-size: 44pt;
  background-color: cyan;
  font-family: times;
  text-align: center;
}
ul {
  font-style: oblique;
  text-align: center;
  font-size: 32pt;
  text-decoration: inherit;

}
li {
  text-align: center;
}
